[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pillow = "*"

[dev-packages]
pycodestyle = "*"
mypy = "*"
rstcheck = "*"
pytest = "*"
pytest-mock = "*"
imggen = {file = ".", editable = true}

[requires]
python_version = "3.9"
