##################
rasty Requirements
##################

The purpose of this document is to detail the requirements for
rasty, a Python module procedurally create image data. This is an
initial take for the purposes of planning. There may be additional
requirements or non-required features added in the future that are
not covered in this document.


*******
Purpose
*******
The purpose of rasty is...


***********************
Functional Requirements
***********************
The following are the functional requirements for rasty:

*   


**********************
Technical Requirements
**********************
The following are the technical requirements for rasty:

*   
